<header>
  <h1>Edit User</h1>
</header>
<div class="edit-user-container">
  <div class="user-form">
    <h3>User Information</h3>
    <form [formGroup]="editUserForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="firstName">First Name:</label>
        <input type="text" id="firstName" formControlName="firstName" class="form-control">
      </div>
    
      <div class="form-group">
        <label for="lastName">Last Name:</label>
        <input type="text" id="lastName" formControlName="lastName" class="form-control">
      </div>
    
      <div class="form-group">
        <label for="username">Username:</label>
        <input type="text" id="username" formControlName="username" class="form-control">
      </div>
    
      <div class="button-container">
        <button type="submit" class="btn btn-success btn-submit">Save Changes</button>
      </div>
    </form>    
  </div>

  <div class="user-imesheets">
    <h3 class="ts-header">Applied Timesheets</h3>
    <div *ngFor="let timesheet of userTimesheets" class="timesheet-card"
    [ngClass]="{'approved': timesheet.status === statusType.Approved, 'rejected': timesheet.status === statusType.Rejected}" (click)="toggleNoteDisplay(timesheet.id!)">
      <div class="timesheet-content">
        <div>
          <span>{{ timesheet.fromDate | date }} - {{ timesheet.toDate | date}}</span>
          <span style="margin-left: 15px;">Status: <strong>{{timesheet.status}}</strong></span>
          <div *ngIf="selectedTimesheetId === timesheet.id" class="timesheet-note">
            <p>Note: {{ timesheet.note }}</p>
          </div>
        </div>
      </div>
      <div *ngIf="timesheet.status === statusType.Pending"  class="timesheet-actions">
        <button class="btn-approve" (click)="updateTimesheetStatus(timesheet.id!, statusType.Approved)">Approve</button>
        <button class="btn-reject"  (click)="updateTimesheetStatus(timesheet.id!, statusType.Rejected)">Reject</button>
      </div>
    </div>
  </div>
</div>