header {
  display: flex;
  text-align: center;
  justify-content: center;
  margin-top: 20px;
}

.filterSec {
  margin-bottom: 20px;
  justify-content: space-between;
  display: flex;
}

.user-list {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 0 15px;
}

.card {
  border: 1.5px solid #dee2e6;
  border-radius: 0.25rem;
  padding: 0.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.user-info,
.user-days-off,
.user-status .card-actions {
  flex-basis: 25%;
  display: flex;
  justify-content: flex-start;
}

.user-days-off {
  justify-content: center;
}

.user-status {
  justify-content: flex-end;
}

.card-actions {
  flex-shrink: 0;
  display: flex;
  gap: 0.5rem;
}

.btn {
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
}

.sort-label, .sort-dropdown {
  display: inline-flex;
  margin-right: 10px; 
}